# Task 1:
1.Install Jupyter notebook and run the first program and share the screenshot of the output.

2.Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

Solution 1: print as string

In [12]:
li = list(range(2000,3201,1))
output = ''    
for i in li:
    if(i%7==0) and (i%5!=0): 
        if(len(output)==0):
            output = output +str(i) 
        else:
            output = output +","+str(i)
print(output)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

3.Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

Solution 1:

In [15]:
s = ''
input_fname = input("Enter any first name: ") 
input_lname = input("Enter any last name: ") 
 
s = s +input_fname[::-1]+" "+input_lname[::-1]
print(s)

Enter any first name: Devidas
Enter any last name: Gore
sadiveD eroG

Solution 2:

In [14]:
input_str = input("Enter any string: ") 
input_str[::-1]

Enter any string: Devidas Gore

'eroG sadiveD'

4 Write a Python program to find the volume of a sphere with diameter 12 cm.

In [11]:
pi = 3.14
dim = 12;
volume= (4/3)*(pi)* ((dim/2)**3)
print('The volume of the sphere is: ',volume)

The volume of the sphere is:  904.3199999999999

# Task 2

1.Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [21]:
num_str = "2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199"
num_list = num_str.split(',')
print(num_list)

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']

2.Create the below pattern using nested for loop in Python

In [2]:
LIMIT = 5
for i in range(0,LIMIT,1):
    for j in range(0,i+1):
            print("* ",end='')    
    print("\n")   
for i in range(LIMIT,0,-1):
    for j in range(0,i-1):
            print("* ",end='')    
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

3.Write a Python program to reverse a word after accepting the input from the user

In [22]:
input_str = input("Enter any string: ") 
string = ''
for i in range(len(input_str),0,-1):
    string = string+input_str[i-1]
print(string)

Enter any string: AcadGild
dliGdacA

4.Write a Python Program to print the given string in the format specified in the sample output.

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [5]:
s = "WE, THE PEOPLE OF INDIA,{} having solemnly resolved to constitute India into a {}SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC {}and to secure to all its citizens"
print(s.format('\n\t','!\n\t\t','\t\n\t\t '))

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a !
		SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens